<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.maxua.sync-ic-recorder</string>

    <key>ProgramArguments</key>
    <array>
        <string>__HOME__/bin/sync-ic-recorder.sh</string>
    </array>

    <key>StartOnMount</key>
    <true/>

    <key>RunAtLoad</key>
    <false/>

    <key>StandardOutPath</key>
    <string>__HOME__/Library/Logs/sync-ic-recorder.out.log</string>

    <key>StandardErrorPath</key>
    <string>__HOME__/Library/Logs/sync-ic-recorder.err.log</string>
</dict>
</plist>
